aside{
    background: #181818;
    float : left;
    width: 27% ;
    padding: 2.5% ;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d ;
}

aside img{
    width: 90px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 20px;
    font-weigh: bold;
    position: relative;
    top: -5 px;
}

aside ul{list-style: none}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover {
    color: yellow;
    text-decoration: none;
    transform: scale(1.05)
}

aside h3{
    margin-top: 40px;
    font-size: 25px;
}


main{
    background: #2c2c2c;
    float : right;
    width: 73% ;
    padding: 2.5% ;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d ;
    text-align: center;
}

main h1{
    color: yellow;
    text-align: center;
}

main h6{
    font-color: #fff;
    margin-left: 60px;
    text-align: left;
    margin-top: 7px;
    position: relative;

}

main p{
    color: fff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40em


}

main img{
    width: 40%;
    float: center;
}



main a{list-style: none}
main a{
    color: #fff;
    margin-top: 20px;
}

footer{
    background: #181815;
    color: #fff;
    text-align: left;
    padding: 0.5%
}

main button{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

