.vscode/
.idea/
.env
.env.db
env/

.idea/
app/dev.db
app/local-default-dev.db

app/__pycache__/
app/static/
app/media/
front/



app/*/__pycache__/
app/*/migrations/*
!app/*/migrations/__init__.py
app/*/migrations/__pycache__/
main.log