{% extends 'base.html' %}

{% block title %} Мои работы {% endblock %}
{% block content %}
<h1>Список инструкций для определенного департамента с ссылочками на документацию</h1>
    {% if wiki %}
        {% for wiki in wiki %}
        <a href = "{% url 'wikis:detail' wiki.id %}">{{wiki.wiki_name}}</a><br>{% endfor %}
    {% endif %}
    <button class="btn btn-warning">Кнопка,потому что могу. Она кстати ничего не делает</button>
    <h5>Но это ведь лучше чем без нее?</h5>
    <button class="btn btn-warning">а красивая, потому что использовала boostrap</button>
{% endblock %}