{%load static%}

<html lang="ru">

<head>

     <title>Отпуск с эмоциями</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="Отпуск, развлечения, экскурсии, краснодарский край">
     <meta name="keywords" content="Отпуск, развлечения, экскурсии, краснодарский край">
     <meta name="author" content="Отпуск, развлечения, экскурсии, краснодарский край">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
     <link rel="stylesheet" href={% static "css/font-awesome.min.css" %}>
     <link rel="stylesheet" href={% static "css/owl.carousel.css" %}>
     <link rel="stylesheet" href={% static "css/owl.theme.default.min.css" %}>

     <!-- MAIN CSS -->
     <link rel="stylesheet" href={% static "css/templatemo-style.css" %}>

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- шапка -->
     {%include 'components/header.html'%}

     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Место где сбываютсяваши мечты</h1>
                                             <h3>Загадайте желание и напишите нам. Мы сможем реализовать его в лучшем виде</h3>
                                             {% comment %} <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a> {% endcomment %}
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>А если вы не можете определиться наши специалисты помогут найти развлечение по душе</h1>
                                             <h3>Каждый из наших гидов посетил более 1000 мест и точно знает о чем говорит :)</h3>
                                             {% comment %} <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a> {% endcomment %}
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Вы можете заниматься работой и домашними делами</h1>
                                             <h3>Делаем путешествия, налаживаем логистику, продумываем кажду минуту вашего отпуска, вам не нужно тратить на это время <a rel="nofollow" href="https://www.facebook.com/templatemo">templatemo</a> page.</h3>
                                             {% comment %} <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a> {% endcomment %}
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>Экскурсии в труднодоступные места</h3>
                              <p>Покажем вам то-что другие не могут увидеть</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Индивидуальные туры</h3>
                              <p>Соберем маршрут под ваши предпочтения</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Лучшие гиды страны</h3>
                              <p>Наши сотрудники проходят 4 обучения в год, чтобы предоставить вам лучший сервис</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     {% comment %} <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <h2>Start your journey to a better life with online practical courses</h2>

                              <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Professional Trainers</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-certificate"></i></span>
                                   <figcaption>
                                        <h3>International Certifications</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-bar-chart-o"></i></span>
                                   <figcaption>
                                        <h3>Free for 3 months</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-12">
                         <div class="entry-form">
                              <form action="#" method="post">
                                   <h2>Signup today</h2>
                                   <input type="text" name="full name" class="form-control" placeholder="Full name" required="">

                                   <input type="email" name="email" class="form-control" placeholder="Your email address" required="">

                                   <input type="password" name="password" class="form-control" placeholder="Your password" required="">

                                   <button class="submit-btn form-control" id="form-submit">Get started</button>
                              </form>
                         </div>
                    </div>

               </div>
          </div>
     </section> {% endcomment %}


     <!-- TEAM -->
     <section id="team">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Наша команда <small>Трудимся для того-чтобы вы отдыхали самым лучшим образом</small></h2>
                         </div>
                    </div>
                    {% for item in data.manager %}
                    <div class="col-md-3 col-sm-3">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src={{item.photo.url}} class="img-responsive" alt="{{item.manager}}">
                              </div>
                              <div class="team-info">
                                   <h3>{{item.manager}}</h3>
                                   <span>{{item.short_description}}</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#"> {{item.phone}}</a></li>

                              </ul>
                         </div>
                    </div>
                    {%endfor%}
                  
                    {% for item in data.agent %}
                    <div class="col-md-3 col-sm-3">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src={{item.photo.url}} class="img-responsive" alt="{{item.manager}}">
                              </div>
                              <div class="team-info">
                                   <h3>{{item.manager}}</h3>
                                   <span>{{item.short_description}}</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#"> {{item.phone}}</a></li>
               
                              </ul>
                         </div>
                    </div>
                    {%endfor%}
                   
                  

               </div>
          </div>
     </section>


   


     <!-- Экскурсии -->
     <section id="courses">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Популярные экскурсии <small>Пришло время для новых эмоций!</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              {% for item in data.trip %}
                              <div class="col-md-4 col-sm-4">
                              <a href="trip">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src={{item.photo.url}} class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i>{{item.data}}</span>
                                                       <span><i class="fa fa-clock-o"></i> {{item.time}}</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">{{item.name}}</a></h3>
                                                  <p>{{item.description}}</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src={%  static "images/author-image1.jpg" %} class="img-responsive" alt="">
                                                       <span>{{item.company.name}}</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>{{item.price}} P</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </a>
                              </div>
                              {%endfor%}

                         </div>

               </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Отзывы <small>Лучше всего о нас говорят наши клиенты</small></h2>
                         </div>


                        
                         <div class="owl-carousel owl-theme owl-client">
                              {%for item in data.feedback %}
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src={%  static "images/1.jpeg" %} class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>{{item.name}}</h4>
                                        </div>
                                        <p>{{item.message}}</p>
                                   </div>
                                   {% for i in "x"|ljust:item.stars %}
                                   <i class="fa fa-star"></i>
                                   {% endfor %}
                              </div>
                              {%endfor%}
                         </div>
                         

               </div>
          </div>
     </section> 


     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="{% url 'index' %}" method="post">
                              {% csrf_token %}
                              <div class="section-title">
                                   <h2>Напишите нам <small>Если у вас остались вопросы мы всегда на связи</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Введите ваше имя" name="name" required="">
                    
                                   <input type="email" class="form-control" placeholder="Введите электронную почту" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Напишите сообщение" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="Отправить" value="Отправить">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src={%  static "images/contact-image.jpg" %} class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>       

     {% include "components/footer.html"%}


     <!-- SCRIPTS -->
     <script src={% static "js/jquery.js" %}></script>
     <script src={% static "js/bootstrap.min.js" %}></script>
     <script src={% static "js/owl.carousel.min.js" %}></script>
     <script src={% static "js/smoothscroll.js" %}></script>
     <script src={% static "js/custom.js" %}></script>

</body>
</html>